{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.testimonial.enable }}
{{ with $data.testimonial }}
{{"<!-- Start Testimonial -->" | safeHTML}}
<section id="testimonial" class="testimonial overly section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 title text-center wow fadeInUp" data-wow-duration="500ms">
				<h2>
					{{ range $i,$w := split .title " "}}
						{{ if eq $i 0 }}
						<span class="titlecolor1"> {{$w}}</span>
						{{ else }}
						<span class="titlecolor2"> {{$w}}</span>
						{{end}}
					{{ end }}
				</h2>			</div>
		</div>
		<div class="row justify-content-center align-items-center">
			{{ range .testimonial_item }}
			{{"<!-- testimonial single -->" | safeHTML}}
			<div class="col-3">
				{{"<!-- client photo -->" | safeHTML}}
				<div class="client-thumb">
					<img class="img-fluid lozad" data-src="{{ .image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .image | absURL }}'" alt="{{ .name }}">
				</div>	
			</div>
			{{"<!-- /testimonial single -->" | safeHTML}}
			{{ end }}
		</div>
	</div>
</section>
{{"<!-- /testimonial -->" | safeHTML}}
{{ end }}
{{ end }}