{{ define "main" }}

{{ partial "banner.html" . }}

{{ partial "navigation.html" . }}

{{ partial "about.html" . }}

{{ partial "applications.html" . }}

{{ partial "solution.html" . }}

{{ partial "feature.html" . }}

{{ partial "team.html" . }}

{{ partial "testimonial.html" . }}

{{ partial "cta.html" . }}

{{ partial "contact.html" . }}


{{ partial "service.html" . }}

{{ partial "portfolio.html" . }}

{{ partial "pricing.html" . }}


{{ partial "funfacts.html" . }}

{{ partial "map.html" . }}

{{ end }}

